extends layout

block content
  .container
    .section.no-pad-bot
      h1.header.center.orange-text= title
      .row
        a(href="/games").btn-large.waves-effect.waves-light.orange.col.m6.offset-m3.s12 Games
      .row
        a(href="/dartboards").btn-large.waves-effect.waves-light.orange.col.m6.offset-m3.s12 Configuration