extends ../layout

block content
  .container
    .section
      h1.header.center.orange-text= title
      .row
        a(href="/games/new").btn-large.waves-effect.waves-light.orange.col.m6.offset-m3.s12.center-align New Game
      .row
        a(href="#").btn-large.waves-effect.waves-light.orange.col.m6.offset-m3.s12.center-align Resume Game  