extends ../layout

block content
    .container
    .row
        .col.l8.m6.s12
            #scoreTable.unselectable
        .col.l4.m6.s12
            .row
                .col.s12
                    .row
                        #currentRound
                    .row
                        include ./dartboard.html
            .row
                .col.s12
                    a(id="start_round" href="#", rel="noopener noreferrer").waves-effect.waves-light.btn.orange Start Turn
                    a(id="stop_round" href="#", rel="noopener noreferrer").waves-effect.waves-light.btn.orange Stop Turn
block links
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js")
    script(src="/javascripts/play.js")